@import "./base/globals";
@import "./base/variables";
@import "./base/mixins";
// header
.header-top-wrapper {
    background: $primary_color;
    padding: 6px;
}

.no-pad {
    padding: 0;
}

.header-top {
    h6,
    span {
        font-size: 10px;
        color: white;
    }
}

.big-phone {
    display: flex;
    align-items: center;
    h6 {
        margin: 0;
        margin-right: 8px;
    }
}

.disp {
    display: flex;
    align-items: center;
}

.disp-jl {
    justify-content: left;
}

.disp-jc {
    justify-content: center;
}

.disp-jr {
    justify-content: right;
}

.header-logo {
    margin: 12px 0;
}

.bigya-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bigya-left,
.bigya-right {
    width: 100%;
}

.header-mid-date {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    border-bottom: 2px solid $secondary_color;
}

.hmd-single {
    margin: 0 12px;
    span {
        font-weight: 600;
        color: $secondary_color;
    }
}

.social-icons {
    display: flex;
    align-items: center;
    li {
        text-align: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: $secondary_color;
        line-height: 30px;
        margin-right: 6px;
        a {
            color: white;
            font-size: 12px;
        }
    }
}

.header-bottom-menu {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
    .navbar-expand-lg .navbar-nav {
        display: flex;
        align-items: center;
    }
    .navbar-light .navbar-nav .nav-link {
        font-weight: 600;
        color: black;
    }
}

.header-bottom-menu {
    .dropdown-menu {
        border-top: 3px solid $primary-color;
        border-radius: 0;
        background: $secondary_color;
        a {
            color: white;
            font-weight: 500;
            font-size: 14px;
        }
    }
}

.trending {
    border-top: 0;
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }
    .navbar-light .navbar-nav .nav-link {
        color: $secondary_color;
        font-size: 15px;
        font-weight: 600;
    }
    li {
        margin-right: 8px;
    }
}

.no-pad {
    padding: 0;
}

// big news start
.big-news {
    margin: 60px 0;
}

.bn-title {
    text-align: center;
    h3 {
        font-weight: 600;
    }
}

.author {
    display: flex;
    align-items: center;
}

.author-image {
    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.author-title {
    margin-left: 8px;
    h6 {
        font-size: 12px;
        margin: 0;
        font-weight: 600;
        color: $secondary_color;
    }
}

.author-time {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-stamp {
    span {
        font-weight: 600;
        font-size: 14px;
    }
}

.bn-image {
    margin-top: 12px;
    img {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

// big-news end
// big-news-bigya
.big-news-bigya {
    margin: 18px 0;
    img {
        width: 100%;
        height: auto;
    }
}

// medium bigya start
.med-bigya {
    margin-bottom: 18px;
}

.mb-image {
    margin: 18px 0;
    img {
        width: 100%;
    }
}

.md-title {
    h6 {
        font-weight: 600;
    }
}

.md-author {
    display: flex;
    align-items: center;
    span {
        font-size: 12px;
        color: $secondary_color;
        font-weight: 600;
    }
}

.ts-small {
    span {
        font-size: 12px;
    }
}

.md-author-date {
    display: flex;
    align-items: center;
}

// medium bigya end
.col-four-bigya {
    img {
        height: auto;
        width: 100%;
    }
}

.long-bigya {
    margin: 18px 0;
    img {
        height: 145px;
        width: 100%;
        object-fit: cover;
    }
}

.small-mod {
    margin: 8px 0;
    img {
        height: 185px;
        width: 100%;
        object-fit: cover;
    }
}

.title-small {
    h6 {
        font-size: 14px;
    }
}

.custom-image {
    margin-top: 8px;
    img {
        height: 445px;
        object-fit: cover;
    }
}

.custom-side-bigya {
    margin-bottom: 12px;
    img {
        height: 150px;
        width: 100%;
        object-fit: cover;
    }
}

.small-title {
    h6 {
        font-size: 14px;
    }
}

.col-four-bigya {
    margin: 24px 0;
}

.custom-mid-size {
    img {
        height: 350px;
        object-fit: cover;
        width: 100%;
    }
}

.font-size-16 {
    h6 {
        font-size: 16px;
    }
}

.trending .navbar-light .navbar-nav .nav-link {
    padding: 0px 10px;
}

// FOOTER MAIN
.footer-main {
    background-color: #000000;
    padding: 70px 40px 40px;
    color: white;
    border-top: 5px solid $primary-color;
    h4 {
        position: relative;
        margin-bottom: 20px;
        margin-right: 15px;
        padding-bottom: 10px;
        &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 3px;
            background-color: $primary-color;
            bottom: 0;
            left: 0;
            z-index: 20;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #ffffff42;
            bottom: 0;
            left: 0;
        }
    }
    ul {
        li {
            a {
                color: white;
            }
        }
    }
}

.fm-upper {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #515151;
}

.fmu-info {
    h2 {
        margin-bottom: 30px;
    }
}

.fmu-cat {
    li {
        width: 45%;
        display: inline-block;
        padding: 5px 0;
        a {
            &::before {
                content: "\f07c";
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                margin-right: 5px;
            }
        }
    }
}

.fmu-trend {
    li {
        width: 45%;
        display: inline-block;
        padding: 5px 0;
        a {
            &::before {
                content: "#";
                margin-right: 3px;
            }
        }
    }
}

.fmu-bigya {
    i {
        margin-right: 10px;
    }
}

.fm-lower {
    text-align: center;
    img {
        width: 250px;
        object-fit: contain;
    }
    p {
        text-align: center;
        margin: 20px 0 10px;
        color: white;
    }
    .fml-address {
        display: flex;
        justify-content: center;
        li {
            padding: 0 15px;
            i {
                margin-right: 5px;
            }
            i.fas.fa-phone {
                transform: rotate(90deg);
            }
        }
    }
    .fml-social {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        li {
            padding: 0 5px;
            a {
                display: block;
                height: 40px;
                width: 40px;
                line-height: 46px;
                background-color: #282828;
                font-size: 18px;
            }
        }
    }
}

.footer-copyright {
    background: $primary-color;
    padding: 10px 40px 0;
}

.fc-left {
    p {
        color: white;
        a {
            color: white;
        }
    }
}

.fc-right {
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            padding-left: 20px;
            a {
                color: white;
            }
        }
    }
}

.fmu-info,
.fmu-bigya {
    li {
        margin-bottom: 8px;
    }
}

// CSS FOR FIXED HEADER
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding: 5px 40px !important;
    transition: 0.2s linear;
    box-shadow: 0px 2px 9px 0px #00000066;
    border-top: 5px solid $primary-color;
}

// top to bottom
#myTopbtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 99;
    font-size: 26px;
    border: none;
    outline: none;
    color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 9px 0px #00000063;
    box-shadow: 0px 0px 9px 0px #00000063;
    background: $primary-color;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    img {
        height: 20px;
        line-height: 20px;
    }
}

#search-btn {
    position: relative;
    margin-left: 12px;
}

.search-box {
    display: none;
    background: $secondary_color;
    position: absolute;
    top: 56px;
    right: 0;
    width: 700px;
    height: 60px;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 11px #75757587;
    box-shadow: 0px 5px 11px #75757587;
    z-index: 1000;
}

.search-box input[type="text"] {
    width: 84%;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid white;
    outline: none;
}

.search-box input[type="submit"] {
    width: 93px;
    padding: 5px 0;
    font-weight: 600;
    background: #f90303;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #f90303;
    outline: none;
    cursor: pointer;
}

.inner-breadcrumb {
    margin: 12px 0;
    a {
        color: $secondary_color;
        font-weight: 500;
        font-size: 14px;
    }
    .active {
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
    }
}

.mc-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
}

.mct-mt {
    font-size: 28px;
    font-weight: 600;
    color: $primary-color;
    margin-right: 12px;
}

.mct-mt-p {
    font-size: 28px;
    font-weight: 600;
    color: $secondary_color;
}

.lr-wrapper {
    display: flex;
    align-items: center;
}

.tbs-left {
    margin-right: 12px;
    img {
        height: 250px;
        width: 350px;
        object-fit: cover;
    }
}

.sn-title {
    h6 {
        font-size: 21px;
        font-weight: 600;
        color: $primary-color;
    }
    margin-bottom: 24px;
}

.snn {
    li {
        padding-bottom: 8px;
        font-size: 15px;
        margin-bottom: 18px;
        border-bottom: 1px solid #8080803f;
        font-weight: 500;
    }
}

.bn-news {
    margin: 12px 0;
    p {
        text-align: justify;
        font-size: inherit;
        line-height: 34px;
    }
}

.inner-bigyas {
    display: flex;
    align-items: center;
    .col-four-bigya {
        margin-right: 12px;
        img {
            width: 100%;
        }
    }
}

.fb-comments {
    margin: 24px 0;
}

.recom-news {
    .sec-title {
        margin-bottom: 24px;
    }
}

.inner-news-author {
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 16px;
    margin-bottom: 16px;
    img {
        height: 150px;
        width: 150px;
    }
    .author-title {
        h6 {
            font-size: 26px;
            margin-bottom: 10px;
        }
    }
    .title-social {
        margin-left: 24px;
    }
}

// summary news
.summary-news {
    margin: 26px 0;
}

.sn-news {
    width: 600px;
    li {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
    }
    img {
        margin-right: 12px;
    }
}

// accessibility-btns
.accessibility-btns {
    button {
        background: $primary-color;
        outline: none;
        border: none;
        padding: 10px 20px;
        color: white;
        font-weight: 500;
    }
}

.title-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-only-news {
    .md-author-date {
        margin: 24px 0;
        justify-content: center;
    }
    .bn-news {
        margin-top: 36px;
    }
}

// our team
.team-single {
    text-align: center;
    margin-bottom: 24px;
    .ts-img {
        img {
            height: 250px;
            width: 350px;
            object-fit: cover;
        }
    }
    .ts-team {
        margin: 12px 0;
        h5 {
            font-weight: 600;
            color: $secondary_color;
        }
        span {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.mp-nav-tab {
    margin-top: 24px;
    .nav-link {
        color: $secondary_color;
        font-weight: 600;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        background: $secondary_color;
        color: white;
        border-radius: 0;
    }
}

.dark-mode {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: black;
}

.dark-mode img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dark-mode i {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.dark-mode .main-news-big {
    -webkit-filter: invert(1);
    filter: invert(1);
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.header-dark-mode {
    label {
        margin-bottom: 0;
    }
}

.mc-image {
    margin-top: 32px;
    img {
        height: auto;
        width: 100%;
    }
}

.modal-open .modal {
    background-color: #f0f0ef;
}

button.close {
    position: absolute;
    right: 0px;
    top: 90px;
    color: red;
    font-size: 36px;
    text-shadow: 0 0 black;
}

.modal-content {
    text-align: center;
    border: none;
    background-color: #f0f0ef;
}

.fm-upper {
    h2,
    h4 {
        color: $primary-color;
        font-weight: 600;
    }
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}