html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "poppins", sans-serif;
  background: #f0f0ef;
}

body a {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  text-decoration: none;
  color: black;
}

body a:hover {
  text-decoration: none;
  color: #cc062d;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body p {
  font-size: 14px;
  color: #666c6d;
  line-height: 24px;
}

.sec-padding {
  padding: 65px 0;
}

.sec-title {
  text-transform: capitalize;
}

.sec-title h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #526c81;
}

.sec-title h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #013e77;
}

.learn_more {
  margin: 12px 0;
  background: #cc062d;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 32px;
  border: 2px solid #ff7c61;
}

.learn_more a {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
}

.sec-padding {
  padding: 60px 0;
}

.sec-title h6 {
  background: #f0f0ef;
  color: #cc062d;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.view-all {
  background: #f0f0ef;
}

.view-all a {
  color: #cc062d;
  font-size: 18px;
  font-weight: 600;
}

.title-view {
  margin: 8px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-view:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  left: 50%;
  border: 1px solid #cc062d;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tbs-title h6 {
  font-weight: 600;
  font-size: 18px;
}

.text-bigya-single {
  margin-bottom: 14px;
  padding-top: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.171);
}

.header-top-wrapper {
  background: #cc062d;
  padding: 6px;
}

.no-pad {
  padding: 0;
}

.header-top h6,
.header-top span {
  font-size: 10px;
  color: white;
}

.big-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-phone h6 {
  margin: 0;
  margin-right: 8px;
}

.disp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disp-jl {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.disp-jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disp-jr {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header-logo {
  margin: 12px 0;
}

.bigya-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bigya-left,
.bigya-right {
  width: 100%;
}

.header-mid-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12px;
  border-bottom: 2px solid #013e77;
}

.hmd-single {
  margin: 0 12px;
}

.hmd-single span {
  font-weight: 600;
  color: #013e77;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons li {
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #013e77;
  line-height: 30px;
  margin-right: 6px;
}

.social-icons li a {
  color: white;
  font-size: 12px;
}

.header-bottom-menu .navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom-menu .navbar-expand-lg .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom-menu .navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: black;
}

.header-bottom-menu .dropdown-menu {
  border-top: 3px solid #cc062d;
  border-radius: 0;
  background: #013e77;
}

.header-bottom-menu .dropdown-menu a {
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.trending {
  border-top: 0;
}

.trending .navbar-expand-lg .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending .navbar-light .navbar-nav .nav-link {
  color: #013e77;
  font-size: 15px;
  font-weight: 600;
}

.trending li {
  margin-right: 8px;
}

.no-pad {
  padding: 0;
}

.big-news {
  margin: 60px 0;
}

.bn-title {
  text-align: center;
}

.bn-title h3 {
  font-weight: 600;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.author-title {
  margin-left: 8px;
}

.author-title h6 {
  font-size: 12px;
  margin: 0;
  font-weight: 600;
  color: #013e77;
}

.author-time {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time-stamp span {
  font-weight: 600;
  font-size: 14px;
}

.bn-image {
  margin-top: 12px;
}

.bn-image img {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.big-news-bigya {
  margin: 18px 0;
}

.big-news-bigya img {
  width: 100%;
  height: auto;
}

.med-bigya {
  margin-bottom: 18px;
}

.mb-image {
  margin: 18px 0;
}

.mb-image img {
  width: 100%;
}

.md-title h6 {
  font-weight: 600;
}

.md-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.md-author span {
  font-size: 12px;
  color: #013e77;
  font-weight: 600;
}

.ts-small span {
  font-size: 12px;
}

.md-author-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-four-bigya img {
  height: auto;
  width: 100%;
}

.long-bigya {
  margin: 18px 0;
}

.long-bigya img {
  height: 145px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small-mod {
  margin: 8px 0;
}

.small-mod img {
  height: 185px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-small h6 {
  font-size: 14px;
}

.custom-image {
  margin-top: 8px;
}

.custom-image img {
  height: 445px;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-side-bigya {
  margin-bottom: 12px;
}

.custom-side-bigya img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.small-title h6 {
  font-size: 14px;
}

.col-four-bigya {
  margin: 24px 0;
}

.custom-mid-size img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.font-size-16 h6 {
  font-size: 16px;
}

.trending .navbar-light .navbar-nav .nav-link {
  padding: 0px 10px;
}

.footer-main {
  background-color: #000000;
  padding: 70px 40px 40px;
  color: white;
  border-top: 5px solid #cc062d;
}

.footer-main h4 {
  position: relative;
  margin-bottom: 20px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.footer-main h4::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #cc062d;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.footer-main h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff42;
  bottom: 0;
  left: 0;
}

.footer-main ul li a {
  color: white;
}

.fm-upper {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #515151;
}

.fmu-info h2 {
  margin-bottom: 30px;
}

.fmu-cat li {
  width: 45%;
  display: inline-block;
  padding: 5px 0;
}

.fmu-cat li a::before {
  content: "\f07c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 5px;
}

.fmu-trend li {
  width: 45%;
  display: inline-block;
  padding: 5px 0;
}

.fmu-trend li a::before {
  content: "#";
  margin-right: 3px;
}

.fmu-bigya i {
  margin-right: 10px;
}

.fm-lower {
  text-align: center;
}

.fm-lower img {
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.fm-lower p {
  text-align: center;
  margin: 20px 0 10px;
  color: white;
}

.fm-lower .fml-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fm-lower .fml-address li {
  padding: 0 15px;
}

.fm-lower .fml-address li i {
  margin-right: 5px;
}

.fm-lower .fml-address li i.fas.fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fm-lower .fml-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.fm-lower .fml-social li {
  padding: 0 5px;
}

.fm-lower .fml-social li a {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 46px;
  background-color: #282828;
  font-size: 18px;
}

.footer-copyright {
  background: #cc062d;
  padding: 10px 40px 0;
}

.fc-left p {
  color: white;
}

.fc-left p a {
  color: white;
}

.fc-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fc-right ul li {
  padding-left: 20px;
}

.fc-right ul li a {
  color: white;
}

.fmu-info li,
.fmu-bigya li {
  margin-bottom: 8px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 999;
  padding: 5px 40px !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 0px 2px 9px 0px #00000066;
          box-shadow: 0px 2px 9px 0px #00000066;
  border-top: 5px solid #cc062d;
}

#myTopbtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 99;
  font-size: 26px;
  border: none;
  outline: none;
  color: white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 9px 0px #00000063;
  box-shadow: 0px 0px 9px 0px #00000063;
  background: #cc062d;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#myTopbtn img {
  height: 20px;
  line-height: 20px;
}

#search-btn {
  position: relative;
  margin-left: 12px;
}

.search-box {
  display: none;
  background: #013e77;
  position: absolute;
  top: 56px;
  right: 0;
  width: 700px;
  height: 60px;
  padding: 10px 0;
  -webkit-box-shadow: 0px 5px 11px #75757587;
  box-shadow: 0px 5px 11px #75757587;
  z-index: 1000;
}

.search-box input[type="text"] {
  width: 84%;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid white;
  outline: none;
}

.search-box input[type="submit"] {
  width: 93px;
  padding: 5px 0;
  font-weight: 600;
  background: #f90303;
  color: #fff;
  margin-left: -6px;
  border: 1px solid #f90303;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */